body {
  background-color: #F7F7F7;
  font-family: "Microsoft YaHei";
}
.main{
  .interval{
    width: 100%;
                height: 8px;
                background-color: rgb(245, 245, 245);
  }
  
}.basicTitle{
    background-color: rgb(255, 255, 255);
  }